{% extends "template/base_login.html" %}

{% block title %}Change Password{% endblock title %}

{% block body %}
	<form action="{{ current_path }}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<p class="submit_container">
			<input type="submit" value="Change Password">
		</p>
	</form>
{% endblock body %}

{% block info %}
	<script>
	    function backAway(){
	        if(history.length === 1){
	            window.location = "http://" + window.location.host + "/slider/"
	        }else{
	            history.back();
	        }
	    }
	</script>
{% endblock info %}