{% extends "template/base_home.html" %}

{% block title %}About{% endblock title %}

{% block head %}
	<link href='http://fonts.googleapis.com/css?family=Oswald:300,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main %}
	<div class="text">
		<h1>About Time Tab</h1>
		<p>I am Andrew Milson, the developer, designer and basically everything of Time Tab. I am 15 years old, live in New Zealand and like to program. I originally started Time Tab because my dad wanted to be able to track his time and find out how much money he had made from certain jobs around the place but did not want to pay heaps of money for an expensive time tracking solution. So he asked me if I was interested in making a time tracking application for him and I said yes.</p>
		<p>Time Tab has been a great project for me and took me about 8 months to create. It was heaps of fun and I learnt a lot of stuff in the process. The app uses Django for server side stuff and JavaScript, CSS and HTML on the client side. I hope to keep working on Time Tab and intergrate an invoice section as I think it would be very beneficial for many businesses. I am currently experimenting with ads on the site and making it free although this might change in the future.</p>
	</div>
{% endblock main %}