{% extends "template/base_home.html" %}

{% block title %}Home{% endblock title %}

{% block main %}
	<ul class="tour_list">
		<li><img src="" alt="Activities and Groups"/><p><strong>Activities and Groups</strong>Create activities and groups to manage and sort the things you do.</p></li>
		<li><img src="" alt="Easily Track Time"/><p><strong>Easily Track Time</strong>Tracking time is so easy and with the time slider it makes it fast, simple and easy to understand.</p></li>
		<li><img src="" alt="Record Activities"/><p><strong>Record Activities</strong>Doing some work for someone? before you start press the record button on an activity and press stop once you have finished. Its that easy!</p></li>
		<li><img src="" alt="Billable hours"/><p><strong>Billable hours</strong>Mark acivities and timerecords as billable and put hourly rates on them to find out how much money you have made.</p></li>
		<li><img src="" alt="Informative reports"/><p><strong>Informative reports</strong>Generate print and download reports to csv and pdf</p></li>
		<li><img src="" alt="Customize reports"/><p><strong>Customize reports</strong>Customize what reports say, round timerecords to different time intrevals, hide or show all empty activities and groups.</p></li>
	</ul>
{% endblock main %}